<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.assignment3cmpt276">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mine"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mine"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".UI.help">

        </activity>
        <activity android:name=".UI.option" />
        <activity android:name=".UI.mineSeeker"
            android:screenOrientation="landscape"/>
        <activity android:name=".UI.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.winPopUp"
            android:theme="@style/AppTheme.customTheme"
        ></activity>
    </application>

</manifest>